.board {
  width: 70%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* BUTTONS */
.play_btns {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  top: 1rem;
}

.play_btns p:first-child {
  font-size: 4rem;
  color: var(--color-white);
  -webkit-text-stroke: 1px black;
}

.play_btns .button {
  width: 100%;
  margin-top: 2rem;
  font-size: 2rem;
}

.play_btns .button[disabled] {
  color: var(--color-dark-green);
  -webkit-text-stroke: 1px black;
  cursor: unset;
}

.play_btns .button[disabled]:hover {
  background-color: var(--color-dark-green);
  transition: none;
}

.turn_play {
  margin-top: 4rem;
  padding: 1rem;

  font-size: 1.4rem;
  line-height: 2;
  text-align: center;
  color: var(--color-white);
}


/* CARDS: */
.player_side,
.opponent_side {
  margin-top: 2.4rem;

  position: relative;
}

.player_card-quantity,
.opponent_card-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.player_card-quantity p,
.opponent_card-quantity p {
  font-size: 1rem;
  color: var(--color-white);
}

.player_card-quantity span,
.opponent_card-quantity span {
  font-size: 2.4rem;
  color: var(--color-white);

  -webkit-text-stroke: 1px black;
}

.card_container {
  width: 271px;
  height: 397px;
}

.player_card,
.opponent_card {
  width: 100%; height: 100%;

  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  margin: 0;
}

.player_card:hover,
.opponent_card:hover {
  transform: rotateY(180deg);
}

.player_card figure,
.opponent_card figure{
  width: 100%; height: 100%;
  position: absolute;
}

.player_card-front,
.opponent_card-front {
  transform: rotateY(-180deg);

  position: relative;
}

.player_card-front h2,
.opponent_card-front h2 {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
}

.player_card-front span,
.opponent_card-front span {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: var(--color-medium-green);
  border: 4px solid var(--color-black);
  border-radius: 12px;

  position: absolute;
  top: 10%;
  left: 70%;
}

.player_card-front,
.opponent_card-front {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;

  border: 12px solid var(--color-black);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player_card_attributes,
.opponent_card_attributes {
  width: 90%;
  margin: 0 auto;
}

.card_attributes-cosmos,
.card_attributes-attack,
.card_attributes-defense {
  background-color: var(--color-medium-green);
  border: 4px solid var(--color-black);
  padding: 1rem;
  margin-bottom: 1rem;

  transition: background-color 0.8s ease;
}

.player_card-front .attributes-cosmos label,
.player_card-front .attributes-attack label,
.player_card-front .attributes-defense label,
.opponent_card-front .attributes-cosmos label,
.opponent_card-front .attributes-attack label,
.opponent_card-front .attributes-defense label { 
  width: 100%;
  font-size: 1.4rem;
  padding-left: 1rem;
}

/* CARD PLAYER SIDE: */
.player_card-front {
  background-color: var(--color-medium-gray);
  background-image: url(../img/Knights/bronze/Shiryu.png);
}

.player_card-front span {
  background-color: var(--color-medium-green);
}

.player_card-front .card_attributes-cosmos:hover,
.player_card-front .card_attributes-attack:hover,
.player_card-front .card_attributes-defense:hover {
  background-color: var(--color-light-green);
}

/* CARD OPPONENT SIDE: */
.opponent_card-front {
  background-color: var(--color-pink);
  background-image: url(../img/Knights/bronze/Seiya.png);
}
.opponent_card-front span {
  background-color: var(--color-medium-pink);
}

.opponent_card-front .card_attributes-cosmos,
.opponent_card-front .card_attributes-attack,
.opponent_card-front .card_attributes-defense {
  background-color: var(--color-medium-pink);
}

.opponent_card-front .card_attributes-cosmos:hover,
.opponent_card-front .card_attributes-attack:hover,
.opponent_card-front .card_attributes-defense:hover {
  background-color: var(--color-light-pink);
}