header {
  width: 80%; height: 12vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--color-medium-green);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  margin: auto;
 
  position: inherit;
  top: 2rem;
}

.play_number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play_score_number {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.score_name {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.player_score,
.opponent_score {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-gray);
  border: 8px solid var(--color-black);
  border-radius: 12px;

  padding: 1rem;
}
.player_name {
  font-size: 1.8rem;
  margin-right: 2rem;
}

.scoreboard {
  margin-left: 1rem;
}
.scoreboard_number {
  text-align: right;
  font-size: 1.8rem;
}
.scoreboard_name {
  text-align: right;
  font-size: 1.6rem;
}

