.footer {
  width: 90%;
  margin: 1rem auto auto auto;
  position: relative;

  display: flex;
  align-items: center;
}

.footer_social_icons {
  margin-top: 2rem;
}

.footer_social_icons a{
  border-radius: 12px;
  margin-left: 1rem;
  transition: box-shadow .8s ease;
}

.footer_social_icons a:hover{
  box-shadow: 4px 8px 8px var(--color-black);
}

.footer_result {
  margin-left: 23.5%;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 2rem;
  font-size: 3rem;
}