.home {
  width: 80%; height: 100vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left_side {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.left_side p {
  font-size: 4rem;
  color: var(--color-white);
  text-align: center;
  -webkit-text-stroke: 1px black;
}

.first_step,
.second_step {
  background-color: var(--color-gray);

  border: 8px solid var(--color-black);
  border-radius: 1.2rem;
  padding: 2.4rem;
  margin-top: 1rem;
}
.first_step p,
.second_step label {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.first_step-option{
  font-size: 1.6rem;
  padding: 1rem;
}

.second_step {
  display: flex;
  flex-direction: column;
}

.second_step input {
  font-family: var(--font-pressstar);
  font-size: 1.4rem;

  width: 70%;
  padding: 1rem; 

  background-color: var(--color-light-green);
  border: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-btn {
  width: 40%;
  margin-top: 2.4rem;
  margin-left: 15rem;
}